{% extends "base.html" %}

{% block title %}
About
{% endblock %}

{% block content %}
<h1 class="text-body-secondary text-center m-4">About TweetBook</h1>
<br />

<h6 class="text-center">
  <h4 class="text-center">App information</h4>
  <p class="text-center">App Name: Tweet</p>
  <p class="text-center">Framework: Django==5.1.4,<br /> Bootstrap@5.3.3</p>
  <p class="text-center">Language: python, html, css, js</p>
  <p class="text-center">Template: jinja2 Templates</p>
  <p class="text-center">Database: sqlite</p>
  <p class="text-center">Created at: January 2025</p>
</h6>
<br />
<h6 class="text-center">
  <h4 class="text-center">Devloper information</h4>
  <p class="text-center">Dev: Md. Abdullah Junayed</p>
  <p class="text-center">Age: 19 years old</p>
  <p class="text-center">Live in: Bangladesh</p>
  <p class="text-center">Education: Salimganj College</p>
</h6>

{% endblock %}